Makefile
colortbl.sty
itmalpha.bst
semdoc.cls
t01_b01.eps
t01_txt.aux
t01_txt.bbl
t01_txt.bib
t01_txt.blg
t01_txt.dvi
t01_txt.out
t01_txt.pdf
t01_txt.synctex.gz
t01_txt.tcp
t08_txt.aux
t08_txt.out
t08_txt.pdf
t08_txt.synctex.gz
vmargin.sty
